<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
      <div class="mb-1">
        <label for="nameSurname" class="form-label">Ad Soyad</label>
        <input type="text" formControlName="nameSurname" class="form-control" id="nameSurname" aria-describedby="Ad Soyad"  placeholder="Ad Soyad" [ngClass]="{'is-invalid': submitted && component.nameSurname.errors}">
        <div class="form-text invalid-feedback" *ngIf="submitted && component.nameSurname.errors?.required"> Lütfen ad soyadı boş geçmeyiniz.</div>
        <div  class="form-text invalid-feedback" *ngIf="submitted && (component.nameSurname.errors?.maxlength)||(component.nameSurname.errors?.minlength)"> Lütfen ad soyadı 3 ile 50 karakter arasında yazınız.</div>
      </div>
      <div class="mb-1">
        <label for="username" class="form-label">Kullanıcı Adı</label>
        <input type="text" formControlName="username" class="form-control" id="username" aria-describedby="Kullanıcı Adı"  placeholder="Kullanıcı Adı" [ngClass]="{'is-invalid': submitted && component.username.errors}">
        <div id="emailHelp" class="form-text invalid-feedback" *ngIf="submitted && component.username.errors?.required"> Lütfen kullanıcı adını boş geçmeyiniz.</div>
      </div>
      <div class="mb-1">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" [ngClass]="{'is-invalid': submitted && component.email.errors}">
        <div id="email" class="form-text invalid-feedback" *ngIf="submitted && component.email.errors?.required"> Lütfen emaili boş geçmeyiniz.</div>
        <div id="email" class="form-text invalid-feedback" *ngIf="submitted && component.email.errors?.email"> Lütfen emaili düzgün giriniz.</div>
      </div>
      <div class="mb-1">
        <label for="password" class="form-label">Şifre</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Şifre" [ngClass]="{'is-invalid': submitted && component.password.errors}">
      </div>
      <div class="mb-1">
        <label for="passwordConfirm" class="form-label">Şifre Tekrar</label>
        <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Şifre Tekrar" [ngClass]="{'is-invalid': submitted && component.passwordConfirm.errors}">
        <div *ngIf="submitted && frm.hasError('notSame')">lütfen şifreyi doğrulayınız.</div>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>

  </div>
  <div class="col-md-3"></div>
</div>
