################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ETicaretClient/.vs/ETicaretClient/FileContentIndex
/ETicaretAPI/Presentation/ETicaretAPI.API/wwwroot/photo-images
